/* 기본 설정 */
html, body {margin: 0; padding: 0; width: 100%; height: 100%;}
.background {background-color: gray; width: 100%; height: 100%;}
.content {max-width: 1200px; margin: 0 auto; background-color: #f3f3f3; width: 100%; height: 100%;}

.header {width: 100%; height: 75px; border-bottom: 1px black solid; background-color: white; z-index: 1;}
.header-content {width: 100%; height: 100%;}
.header-content-container {width: 100%; height: 100%; display: grid; grid-template-columns: 1fr}
.logo-container {width: 100%; height: 100%; position: relative;}
.logo {width: 231px; height: 65px; position: absolute; transform: translate(-50%, -50%); top: 50%; left: 50%;}