@media (min-width: 1001px) {

/* 기본 설정 */
html, body {margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden;}
.background {background-color: gray; width: 100%; height: 100%;}
.content {max-width: 1200px; margin: 0 auto; background-color: #f3f3f3; width: 100%; height: 100%;}

/* header */
.header {width: 100%; height: 75px; border-bottom: 1px black solid; background-color: white; z-index: 1;}
.header-content {width: 100%; height: 100%;}
.header-content-container {width: 100%; height: 100%; display: grid; grid-template-columns: 1fr}
.logo-container {width: 100%; height: 100%; position: relative; border-right: 1px black solid;}
.logo {width: 231px; height: 65px; position: absolute; transform: translate(-50%, -50%); top: 50%; left: 50%;}

/* manga-gnb-bar */
.manga-gnb-menu ul {margin: 0;}
.manga-gnb-menu {text-align: center; list-style-type: none; position: relative; text-align: center;}
.manga-gnb-menu li {display: inline-block; padding: 20px 50px 20px 50px; cursor: pointer;}
.manga-gnb-menu li a {text-decoration: none; color: black; font-size: 17.5px; position: relative; padding: 5px; font-weight: 400; display: inline-block;}

.manga-gnb-menu li a::after {content: ""; position: absolute; left: 0; top: 100%; width: 100%; height: 1.5px; background-color: black; transform: scaleX(0); transform-origin: 0 50%; transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);}
.manga-gnb-menu li:hover a::after {transform: scaleX(1); transform-origin: 0 50m,m, m, 50%; transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);}

.main {width: 100%; height: calc(100% - 75px); overflow-y: auto;}
.main-content {padding: 0 25px; height: 100%;}
.title-wrapper {padding: 25px 25px 0 25px;}
.title > span {font-size: 35px; font-family: "Noto Sans KR", sans-serif; font-weight: 500;}

.webtoon-content-wrapper {display: flex; flex-wrap: wrap;}
.webtoon-content {width: calc(198px * 0.7); height: 300px; border-radius: 10px; margin-right: 20px; position: relative; z-index: 1;}
.webtoon-cover {width: 144px; height: 184px; border-radius: 10px; transform: scale(1); filter: brightness(1); transition: 0.25s ease-out, filter 0.25s linear; border: 1px black solid; box-shadow: 3px 3px 3px 3px gray;}
.webtoon-cover:hover {transform: scale(0.97); filter: brightness(0.75); transition: 0.25s ease-out, filter 0.25s linear;}
.webtoon-info {width: 100%; height: 100%; display: flex; flex-direction: column;}
.except-cover-img {display: flex; flex-direction: column; width: 100%; height: 100%; padding-top: 5px;}
.except-cover-img > .webtoon-title {font-size: 17px; font-family: "Noto Sans KR", sans-serif; font-weight: 500;}
.except-cover-img > .webtoon-writer {font-size: 11px; color: gray;}

}