@media (min-width: 1001px) {

.header {width: 100%; height: 75px; border-bottom: 1px black solid; background-color: white; z-index: 1;}
.header-content {width: 100%; height: 100%;}
.header-content-container {width: 100%; height: 100%; display: grid; grid-template-columns: 1fr}
.logo-container {width: 100%; height: 100%; position: relative; border-right: 1px black solid;}
.logo {width: 231px; height: 65px; position: absolute; transform: translate(-50%, -50%); top: 50%; left: 50%;}

body {margin: 0; padding: 0; background: gainsboro; color: #000; font-family: sans-serif; overflow-x: hidden;}
.viewer-container {max-width: 800px; margin: 20px auto; padding: 20px; background: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0,0,0,0.1); text-align: center;}
.viewer-title {font-size: 24px; margin-bottom: 20px;}
.viewer-images img {width: 720px;; display: block; margin: 0 auto 0px auto;}
.btn-container {display: flex; justify-content: space-between; margin-top: 20px;}
button {background-color: #007bff; border: none; color: white; padding: 20px 170px; font-size: 16px; border-radius: 4px; cursor: pointer; user-select: none;}
button:disabled {background-color: #ccc; cursor: not-allowed;}
.fixed-nav-buttons {position: fixed; top: 50%; left: 0; width: 100%; display: flex; justify-content: space-between; transform: translateY(-50%); pointer-events: none; z-index: 1000;}
.fixed-nav-buttons button {pointer-events: all; background-color: #007bff; border: none; color: white; padding: 10px 16px; font-size: 20px; border-radius: 50%; cursor: pointer; opacity: 0.9; margin: 0 10px;}
.fixed-nav-buttons button:disabled {background-color: #ccc !important; cursor: not-allowed; opacity: 0.7;}
.fixed-nav-buttons.hidden {display: none;}
.hidden {display: none !important;}

}