@media (min-width: 1001px) {

/* 기본 설정 */
html, body {margin: 0; padding: 0; width: 100%; height: 100%; overflow: hidden;}
.background {background-color: gray; width: 100%; height: 100%;}
.content {max-width: 1200px; margin: 0 auto; background-color: #f3f3f3; width: 100%; height: 100%;}

/* header */
.header {width: 100%; height: 75px; border-bottom: 1px black solid; background-color: white; z-index: 1;}
.header-content {width: 100%; height: 100%;}
.header-content-container {width: 100%; height: 100%; display: grid; grid-template-columns: 1fr}
.logo-container {width: 100%; height: 100%; position: relative; border-right: 1px black solid;}
.logo {width: 231px; height: 65px; position: absolute; transform: translate(-50%, -50%); top: 50%; left: 50%;}

.main {width: 100%; height: calc(100% - 75px); overflow-y: auto;}
.main-content {padding: 0 25px; height: 100%;}
.title-wrapper {padding: 25px;}
.title > span {font-size: 35px; font-family: "Noto Sans KR", sans-serif; font-weight: 500;}

.webtoon-content-wrapper {display: flex; flex-wrap: wrap;}
.webtoon-content {width: calc(198px * 0.7); height: 300px; border-radius: 10px; margin-right: 20px; position: relative; z-index: 1;}
.webtoon-cover {width: 144px; height: 184px; border-radius: 10px; transform: scale(1); filter: brightness(1); transition: 0.25s ease-out, filter 0.25s linear; border: 1px black solid; box-shadow: 3px 3px 3px 3px gray;}
.webtoon-cover:hover {transform: scale(0.97); filter: brightness(0.75); transition: 0.25s ease-out, filter 0.25s linear;}
.webtoon-info {width: 100%; height: 100%; display: flex; flex-direction: column;}
.except-cover-img {display: flex; flex-direction: column; width: 100%; height: 100%; padding-top: 5px;}
.except-cover-img > .webtoon-title {font-size: 17px; font-family: "Noto Sans KR", sans-serif; font-weight: 500;}
.except-cover-img > .webtoon-writer {font-size: 11px; color: gray;}

}